.hero__title {
  margin: 0 auto 30px auto;
  max-width: 360px;

  color: $prymari-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  margin: 0 auto;
  transition: background-color $transition, box-shadow $transition;

&:hover, &:focus {
  background-color: $button-hover-focus;
  box-shadow: rgba(0, 0, 0, 0.15);
}}