    $primary-text-color: #212121;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $prymari-white-color: #ffffff;
    $p-text-color: #757575;
    $background-color: #2f303a;
    $background-button-color: #f5f4fa;
    $button-hover-focus: #188ce8;
    $background-section-color: #f5f4fa;
    $fill-icon: #afb1b8;
    $transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);